/* Table Styles */
.App-weekly-menu .App-table {
  width: 100%;
  padding: 25px 10px;
}

.App-weekly-menu .App-table th[scope="row"] {
  text-transform: capitalize;
  text-align: right;
  padding-right: 0.5rem;
}

.App-weekly-menu .App-table th[scope="col"] {
  text-transform: capitalize;
  text-align: left;
  padding-bottom: 0.5rem;
}

.App-weekly-menu .App-table td {
  text-align: left;
  padding: 0.3rem;
}

@media (max-width: 530px) {
  .App-weekly-menu .App-table {
    overflow-y: hidden;
  }

  table.App-weekly-menu .App-table,
  .App-weekly-menu .App-table thead,
  .App-weekly-menu .App-table td,
  .App-weekly-menu .App-table th,
  .App-weekly-menu .App-table tr {
    display: block;
  }

  .App-weekly-menu .App-table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .App-weekly-menu .App-table th[scope="row"] {
    text-align: left;
    padding-left: 118px;
  }

  .App-weekly-menu .App-table tr {
    margin: 0 0 20px 0;
    padding: 0 0 20px;
    border-bottom: 1px solid #eee;
    display: flex;
    flex-direction: column;
  }

  .App-weekly-menu .App-table td {
    border: none;
    position: relative;
    padding-left: 118px;
    width: 50vw;
  }

  .App-weekly-menu .App-table td::before {
    position: absolute;
    top: 50%;
    left: 6px;
    width: 94px;
    padding-right: 10px;
    transform: translate(0, -50%);
    text-align: right;
  }

  .App-weekly-menu .App-table tbody td::before {
    font-weight: bold;
  }

  .App-weekly-menu .App-table tbody td:nth-of-type(1)::before {
    content: 'Breakfast:';
  }

  .App-weekly-menu .App-table tbody td:nth-of-type(2)::before {
    content: 'Lunch:';
  }

  .App-weekly-menu .App-table tbody td:nth-of-type(3)::before {
    content: 'Dinner:';
  }
}

.App-btn__generate-receipe {
  position: relative;
  z-index: 9999;
  margin-top: -10px;
}
